**
!package.json
!README.md
!CHANGELOG.md
!LICENSE
!SECURITY.md
!extension.js
!lib/config.js
!scripts/remote-helper.sh
!scripts/compile-launcher.ps1
!scripts/CodexProfileLauncher.cs
!assets/icon.png
!assets/models.json
!docs/README.zh-CN.md
!docs/TROUBLESHOOTING.md
!docs/PRIVACY.md
